<div class="jumbotron">
	<div class="container">
		<h1 class="display-1">FXTool</h1>
	</div>
</div>
<div class="container">
	<form action="/calculator/convert">
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label" for="frm-date">Date</label>
			<div class="col-sm-12 col-md-3">
				<input type="date" name="date" id="frm-date" class="form-control required" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label" for="frm-amount">Amount</label>
			<div class="col-sm-12 col-md-3">
				<input type="text" name="amount" id="frm-amount" class="form-control required number" />
			</div>
			<label class="col-sm-12 offset-md-1 col-md-1 col-form-label" for="frm-from">From</label>
			<div class="col-sm-12 col-md-3">
				<select name="from" id="frm-from" class="custom-select required">
					<option value="">Select</option>
					<option>EUR</option>
					<% @currencies.each do |currency| %>
					<option><%= currency %></option>
					<% end %>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-12 offset-md-6 col-md-1 col-form-label" for="frm-to">To</label>
			<div class="col-sm-12 col-md-3">
				<select name="to" id="frm-to" class="custom-select required">
					<option value="">Select</option>
					<option>EUR</option>
					<% @currencies.each do |currency| %>
					<option><%= currency %></option>
					<% end %>
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Convert</button>
	</form>
	<p class="mt-2 mb-2"><small>Data from <%= @latest['first'] %> to <%= @latest['last'] %></small></p>
</div>