		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
		<script>
		(function($, $doc) {
			var site = {
				init: function() {
					$('form').validate({
						errorClass: 'has-danger',
						errorElement: 'div',
						submitHandler: function(form, event) {
							event.preventDefault();
							$.ajax({
								url: $(form).attr('action'),
								data: $(form).serialize(),
								success: function(response){
									$('.alert, hr').remove();
									if(response.success) {
										$(form).after($('<hr /><div class="alert alert-success" role="alert"><strong>'+response.amount+'</strong></div>'));
									} else {
										$(form).after($('<hr /><div class="alert alert-danger" role="alert"><strong>Error:</strong> '+response.msg+'</div>'));
									}
								}
							});
						}
					});
				}
			}
			site.init();
		}(window.jQuery, window.jQuery(document.body)));
		</script>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</body>
</html>
